@import "_config.scss";

header {
    position: relative;
    display: block;
    width: 100%;
    background: $black;
    color: $white;
    height: 90px;

    .logo {
        position: absolute;
        top: 50%; left: 15px;
        @include translateY(-50%);
    }

    nav,
    nav ul,
    nav ul li {
        margin: 0;
        padding: 0;
    }

    nav {
        position: absolute;
        top: 50%; right: 15px;
        @include translateY(-50%);

        ul li {
            list-style-type: none;
            display: inline-block;
            margin-right: 10px;

            &.last {
                margin: 0;
            }

            a {
                font-size: 19px;
                line-height: normal;
                color: $white;
            }
        }
    }
}

.content_holder {
    width: 600px;
    height: 600px;
    margin: 10px auto 10px auto;
    background-color: black;
    display: block;
    border-color: #f00;
    border-width: 3px;
    text-align: center;
    position: relative;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.media_container {
    // left: 50%; top: 50%;
    // transform: translate(-50%,-50%);
    background: gold;
    // padding: 2rem;
    // display: block;
    // height: 70%;
    // width: 70%;
    // margin: 0px auto 0px auto;
    // text-align: center;
    display: flex;
    flex-direction: column;

}

.slider_img {
    position: absolute;
    flex-grow: 1;
    max-height: 100%;
}

.slider_vid {
    position: absolute;
    flex-grow: 1;
    max-height: 100%;
}

.slider {
    // height:90%;
    // width: 90%;
    // position: absolute;
    // top: 50%; left: 50%;
    // transform: translate(-50%,-50%);
    background: red;
    margin: 0 auto;
    display: flex;
    position: relative;
    height: 400px;
    width: 90%;
    flex-direction: column;
    button {
        max-width: 100%;
    }
}

.post_message {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    background-color: #32fefe;
    margin-bottom: 15px;
}



